<div class="container" style="margin-top: 5%;">
    <h1>Products portal</h1>
    &nbsp;
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/merchant">Add Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/categoryform">Add Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/products">Product table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/productcategories">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/shop">Product grid</a>
        </li>
    </ul>
    

</div>
